*{
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

.navbar   {
  
  a {
    color: white;
  }
}



.navbar-nav {
  margin-right: 5rem;
}

.navbar-toggler {
  background-color: white;
}


li{
  list-style: none;
}

.list li a {
  text-decoration: none;
  color: white;
}

.content-container img {
  display: block;
  width: 100vw;
  height: 75vh;
  margin: 0 auto;
}

.btn {
  width: 140px;
}

.overlay-button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-family: 'Merriweather', serif;

  li a {
    text-decoration: none;
    color: white;
  }
}

.description {
  position: absolute;
  top: 40%;
  left: 52%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.information {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  a{
    margin-right: 3rem;
    padding: 40px 50px;   
    background-image: url('https://media.istockphoto.com/id/453005047/photo/soccer-field.jpg?s=612x612&w=0&k=20&c=uRmO9piBTsE5JEaU_SMMRvUtYYmSuiY-DOmF7eSqCUw=');
    background-size: cover;
    font-family: 'Merriweather', serif;
  }
  li a{
    text-decoration: none;
    color: white; 
    width: 300px;           
  }
  
}

.advantage {
  position: absolute;
  bottom: 80%;
  left: 52%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}
.advantages-container {
  position: relative;
  
  .paragraphs-container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10rem;
    text-align: center;
    color: white;
    align-items: center;
  }
  p{
    margin-right: 8rem;
    width: 200px;
    font-family: 'Merriweather', serif;
  }
}

.offert-information-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10rem;
    text-align: center;
    align-items: center;

  p {
    font-family: 'Merriweather', serif;
    line-height: 3rem;
  }
}

.second-grass {
  margin-top: 5rem;
  
}
footer {
  background-color: #333;
  color: #fff; 
  text-align: center; 
  padding: 20px; 

  a {
    text-decoration: none; 
    margin: 0 10px; 
  }
}

.information-container footer {
  margin-top: 3.5rem;
}

.images-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-image, .right-image {
  width: 20vw;
  height: 82.8vh;

}

.mid-image {
  width: 50vw;
}

.icon-container {
  display: flex;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  svg {
    width: 195px;
    height: 100px;
    margin-right: 8rem;
    color: white;
    
  }
}


@media (max-width: 768px) {
  
  
}

@media (min-width: 1268px) {
  .content-container h4{
    width: 500px;
  }
}